<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.qti.telephonyservice"
    android:sharedUserId="android.uid.phone"
    android:versionCode="1"
    android:versionName="1.0"
    coreApp="true">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:persistent="true" android:directBootAware="true" >
        <service android:name=".QtiTelephonyService" />
    </application>
</manifest>
